.fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-image:url('/assets/montains.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
   
}

#box{
    position: absolute;
    z-index: 2;
    width: 50vw;
    height:60vh ;
    top: 20%;
    left: 25%;
    box-shadow: -5px 5px 11px 0px #b5b5b3;
    border-radius: 20px;
    background-color: rgb(218, 221, 222);
   
   
}
#box2{
    position: absolute;
    z-index: 11;
    width: 50vw;
    height:60vh ;
    top: 20%;
    left: 25%;
    box-shadow: -5px 5px 11px 0px #b5b5b3;
    border-radius: 20px;
    background-color: rgb(218, 221, 222);   
}
 

#login-box{
    position: absolute;
    background-color: rgb(218, 221, 222);
    width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px; 
    
}
#register-box{
    position: absolute; 
    border-radius: 0 20px 20px 0;
    width: 50%;
    height: 100%;
    display: inline;
    left: 50%;
    background-image: url("/assets/montains.png");
    background-size: cover;

}

#login-box-left{
    position: absolute; 
    border-radius: 20px 0 0 20px; 
    width: 50%;
    height: 100%;
    display: inline;
    background-color: rgb(218, 221, 222);
    background-image: url("/assets/montains.png");
    background-size: cover;

}
#register-box-right{
    position: absolute;
    border-radius: 0 20px 20px 0;
    width: 50%;
    height: 100%;
    left: 50%;
     
}

.login-register-button{
    width: 50%;
    height: 8%;
    border-radius: 15px;
    border:0;
    background: linear-gradient( #eb7171,#6e79f0);
    font-size: 20px;
    box-shadow: -5px 0px 11px 0px #f9f8f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.login-register-button:hover{
    color: white;
}

#login-button{
    position: absolute;
    margin-top: 30%;
    margin-left: -60%;
    text-align: center;    
}

#register-button{
    position: absolute;
    margin-top: 60%;
    margin-left: 25%;
}
#login-button-left{
    position: absolute;
    margin-top: 60%;
    margin-left: 25%;
}
.show{
    visibility: hidden;
}
#register-button-right{
    position: absolute;
    margin-left: -60%;
    margin-top: 20%;
   
}
#register-form{
    height: 90%;   
}
 
h2{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
margin-top: 6%;
margin-bottom: 0;
}

#h2-register-here{
    margin-top: 8%;
    margin-bottom: 3%;
}
input{
    border-radius: 15px;
    border: 0;
    width: 70%;
    height: 7%;
    margin-top: 5%;
    margin-left: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: -5px 5px 11px 0px #b5b5b3;
}

input:hover{
    height: 8%;
}
